.scrollable-content {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  overflow-y: auto;
}

.scrollable-content::-webkit-scrollbar {
  width: 10px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
